---
title:
  'Notes on: "Paper Title"'
description:
  'Reading notes on "Paper title" by Authors from Affiliation'
date: 2025-02-XX
categories:
  - notes
  - highlights
cover: /content/YYYY-MM-DD-notes-on-paper/paper-cover.png
---

## Reference

- **Title**:
- **Authors**:
- **Affiliation**:
- **Links**:
  - [Blog Post](https://machinelearning.apple.com/research/elegnt-expressive-functional-movement),
  - [arXiv preprint](http://arxiv.org/abs/2502.02649v2).

## Summary

## Reading notes

## Final Thoughts

- **Strengths**:
- **Limitations**:
- **Odds and ends**:
